<footer class="footer">
    <a href="https://www.facebook.com" class="footer-link">
        <img src="/img/facebook_logo.png" alt="Facebook">
    </a>
    <a  href="https://www.linkedin.com/" class="footer-link">
        <img src="/img/linkedin_logo.png" alt="LinkedIn">
    </a>
</footer>