<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.partial.ejs') %>
    <link rel="stylesheet" type="text/css" href="/header.css">
    <title>Emily Fitzpatrick</title>
</head>
<body>
   <%- include('./partials/header.partial.ejs') %>
</body>