<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.partial.ejs') %>
    <link rel="stylesheet" type="text/css" href="/freelance.css">
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <title>Emily Fitzpatrick</title>
</head>
<body>
    <%- include('./partials/header.partial.ejs') %>
    <h1 class="heading-text">Freelance &amp; Internship</h1>
    <div class="container">
        <img src="/img/freelance_intern/Elicia_Ferrer.png" alt="Elicia Ferrer" />
        <img src="/img/freelance_intern/Before_after.jpg" alt="Before and After" />
        <img src="/img/freelance_intern/knox_wings.png" alt="Knox Wings" />
        <img src="/img/freelance_intern/youth_encounter.jpg" alt="Youth Encounter">
    </div>
    <%- include('./partials/footer.partial.ejs') %>
</body>