<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.partial.ejs') %>
    <link rel="stylesheet" type="text/css" href="/home_page.css">
    <title>Emily Fitzpatrick</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2 class="super-text">Portfolio</h2>
            <h1 class="main-text">
                <div>Emily</div>
                <div>Fitzpatrick</div>
            </h1>
            <nav class="nav">
                <a class="nav__item" href="/about">About</a>
                <a class="nav__item" href="/work">Work</a>
                <a class="nav__item" href="/contact">Contact</a>
            </nav>
        </div>
        <div class="bg-image"></div>
    </div>
</body>
</html>