<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.partial.ejs') %>
    <link rel="stylesheet" type="text/css" href="/scg.css">
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <title>Emily Fitzpatrick</title>
</head>
<body>
    <%- include('./partials/header.partial.ejs') %>
    <h1 class="heading-text">Solution Consulting Group</h1>
    <div class="container">
        <img src="/img/scg/businesscards.png" alt="Business Cards">
        <img src="/img/scg/dial_dollar.png" alt="Dial Dollar" />
        <img src="/img/scg/scg_1.png" alt="Example 1">
        <img src="/img/scg/scg_2.png" alt="Example 2">
        <img src="/img/scg/scg_3.png" alt="Example 3">
    </div>
    <%- include('./partials/footer.partial.ejs') %>
</body>