<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.partial.ejs') %>
    <link rel="stylesheet" type="text/css" href="/work.css">
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <title>Emily Fitzpatrick</title>
</head>
<body>
    <%- include('./partials/header.partial.ejs') %>
    <h1 class="heading-text">My Work</h1>
    <div class="showcase">
        <a href="#" class="tile">
            <div class="tile__img-container">
                <img  class="tile__img" src="/img/Elicia_Ferrer_1.png" alt="Elicia Ferrer">
            </div>
            <h2 class="tile__title">
                Freelance &amp; Internship Work
            </h2>
        </a>
        <a href="#" class="tile">
            <div class="tile__img-container">
                <img  class="tile__img" src="/img/agency_1.png" alt="Agency Work">
            </div>
            <h2 class="tile__title">
                Agency Work
            </h2>
        </a>
        <a href="#" class="tile">
            <div class="tile__img-container">
                <img  class="tile__img" src="/img/businesscards_1.png" alt="Agency Work">
            </div>
            <h2 class="tile__title">
                Solution Consulting Group
            </h2>
        </a>
        <a href="#" class="tile">
            <div class="tile__img-container">
                <img  class="tile__img" src="/img/en_1.png" alt="Agency Work">
            </div>
            <h2 class="tile__title">
                Epic Nine
            </h2>
        </a>
    </div>
    <%- include('./partials/footer.partial.ejs') %>
</body>