body {
    background: #E5E5E5;
    padding:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

form {
    width:40rem;
    background:#fff;
    padding:1rem;
    box-shadow:0 0 .5rem rgba(0,0,0,.24);
}

.logo{
    display:block;
    width:30rem;
    margin:2rem auto;
}

.fgrp{
    margin:1rem 0;
}

.label {
    display:block;
    font-size:1.4rem;
    font-family: 'poppins-regular', sans-serif;
    text-transform: uppercase;
    letter-spacing:1px;
}

.text-input{
    border:1px solid #ccc;
    outline:none;
    font-size:2.2rem;
    padding:3px;
    width:100%;
    transform:border .3s;
    font-family:'poppins-regular', sans-serif;
}

.text-input:focus {
    border:1px solid #2a71b3;
}

.subbut {
    background:#2a71b3;
    padding:1rem 1.5rem;
    border:none;
    color:#fff;
    text-transform: uppercase;
    display:block;
    width:auto;
    margin:0 auto;
}

.errbox, 
.errbox li::marker{
    color:#f00;
    font-size:1.4rem;
}

.errbox{
    list-style-position: inside;
    padding:1rem;
    font-family: 'poppins-regular', sans-serif;
}
