.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 4rem;
    max-width:130rem;
    margin:0 auto;
}

.logo-link{
    display:block;
}

.nav{
    display:flex;
    align-items:center;
}

.nav__item{
    display:block;
    font-family: 'poppins-light', sans-serif;
    text-decoration:none;
    font-size:1.8rem;
    text-transform:uppercase;
    font-weight:300;
    transition:transform .3s;
}

.nav__item:link,
.nav__item:visited {
    text-decoration: none;
    color: #262626;
}

.nav__item:hover {
    transform:scale(1.05);
}

.nav__item:not(:last-child) {
    margin-right: 3rem;
}

@media (max-width: 800px) {
    .header {
        display:block;
        padding:2rem;
    }

    .nav {
        margin: 2rem 0;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 1rem;
        justify-content:center;
    }

    .logo-link {
        width:28rem;
        margin:0 auto;
    }

    .logo-link img {
        width:28rem;
    }

}
