body {
    background: #E5E5E5;
}

.heading-text{
    font-family:'chewie-regular', sans-serif;
    font-size:4.5rem;
    text-align:center;
    margin:3rem 0;
}

.showcase {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:75%;
    margin:0 auto;
}

.tile{
    width:30rem;
    margin:2rem;
    display:block;
    text-decoration: none;
}


.tile__img-container{
    width:100%;
    height:20rem;
    background:#fff;
}

.tile__img {
    display:block;
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
}

.tile__title{
    color:#000807;
    text-transform: uppercase;
    font-size:2rem;
    margin:2rem 0;
    font-family: 'poppins-regular', sans-serif;
    text-align: center;
}